<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>médicales</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
        <header>   
            <img src="./static/image/170738091.png" alt="">
            <div>
                <li><a href="">Rapports</a></li>
            </div>
            <ul>
                <li><a href="index.html">Accueil</a></li>
            </ul>
        </header>
  <main>
        <div class="IMC">
            <h2>Section IMC</h2>
            <label for="taille">Taille (cm)</label>
            <input type="number" id="taille" name="taille">
    
            <label for="poids">Poids (kg)</label>
            <input type="number" id="poids" name="poids">
        </div>
        <div class="generale">
            <div class="BPM">
             <h2>Section BPM</h2>
             <label for="bpm">BPM</label>
             <input type="number" id="bpm" name="bpm">

             <label for="oxygene">Taux d'oxygénation (%)</label>
             <input type="number" id="oxygene" name="oxygene">
            </div>

            <div class="tension">
                 <h2>Section Tension</h2>
                <label for="systolique">Pression artérielle systolique</label>
                <input type="number" id="systolique" name="systolique">

                <label for="diastolique">Pression artérielle diastolique</label>
                 <input type="number" id="diastolique" name="diastolique">
            </div>
        </div>
    </main>
</body>
</html>
