/* Réglages le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #b94134, #ED213A);  
    padding: 10px 20px; 
}
header form {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

header input{
    width: 120px;
    height: 40px;
    color: black;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
}

/* image du logo  */
header img {
    height: 60px; 
    width: 80px;
    border-radius: 50%;
}

.logout  {
    list-style: none; 
}

.logout a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: rgb(244, 248, 244);
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;   
}

label {
    display: block;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.generale {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.IMC {
    display: flex;
    flex-direction: column;
    width: 830px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.BPM {
    display: flex;
    flex-direction: column;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.tension {
    display: flex;
    flex-direction: column;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.IMC h2, .BPM h2, .tension h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="submit" i]{
    width: 120px;
    height: 40px;
    color: black;
    background-color: rgb(247, 251, 247);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
}

@media only screen and (max-width: 786px) {
   
    header form {
        margin-left: 110px;    
    }
    
    div li a {
        margin-left: 90px;
    }
    
    header ul {
        margin-left: 120px;    
    }
    

    main {
        display: flex;
        justify-content: center;
    }
    
    form {
      width: 700px;
    }
    
    input[type="number"] {
        
    }
    
    .IMC {
        width: 700px;
      
    }
    
    .BPM {
        width: 700px;
    }
    
    .tension {
        width: 700px;
    }
}


@media only screen and (max-width: 400px) {
    header {
        width: 400px;
    }
    header form {
        margin-left: -30px;
        font-size: 10px;
        z-index: 100%;  
    }
    
    /* image du logo  */
    header img {
        width: 35px;
        height: 35px;
    }
    
    div li a {
        margin-left: 10px;
        font-size: 15px;
    }
    
    header ul {
        margin-left: -10px;
        font-size: 15px;  
    }
    
    .IMC {
        width: 300px;
         
    }
    .generale {
        margin-left: 30px;
        gap: 20px;
    }
    
    .BPM {
        width: 325px;
    }
    
    .tension {
        width: 325px;
    }
}
