body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="date" i]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 1;
}

select {
    cursor: pointer;
    border: 1px solid #0a0808;
    opacity: 1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
label {
   
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 250px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.link {
    margin-top: 15px;
    text-decoration: none;
}

.link a {
    color: #4f1ab1;
    text-decoration: none;
}

.link a:hover {
    color: #45a049;
}

@media only screen and (max-width: 448px) {
    main {
        width: 80%;
        margin-top: 180px;
    }

    .form {
        padding: 15px;
    }

    h1 {
        font-size: 10px;
    }

    input[type="text"],
    input[type="password"] {
        margin-bottom: 15px;
        width: calc(100% - 30px);
    }

    input[type="submit"] {
        height: 35px;
    }

    .link {
        margin-top: 10px;
    }
}
