body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container_demo {
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 50px;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="date" i]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
label {
   
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.link {
    margin-top: 15px;
}

.link a {
    color: #1ab188;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
