body {
    font-family: Arial, sans-serif;
    background-color: white ;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 
    padding: 0px;
}

h1 {
    align-items: center;
    margin: 15px;
}

header a {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 12px;
    padding: 15px;
    font-size: 17px;
    color: black; 
}

.welcome {
    display: flex;
    justify-content: center;
}

.return  {
    display: flex;
    justify-content: center;
    font-size: 13px;
    
}

.return input {
   
    font-size: 13px;
    width: 270px;
    height: 35px;
    border-radius: 8px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;   
}

.box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

img {
    justify-self: center;
    width: 550px;
    border-radius: 40px;  
    cursor: grab; 
}


p {
    text-align: center; 
    font-size: 14px; 
    font-weight: bold; 
}

footer {
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    
    gap: 40px;
}

.reseaux-sociaux a {
    text-decoration: none;
    color: #130505; 
    margin: 20px;
    font-size: 20px;
}

.reseaux-sociaux a:hover {
    color: blue;
}
