body {
    font-family: Arial, sans-serif;
    background-color: white ;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 
    padding: 0px;
}

h1 {
    align-items: center;
    margin: 15px;
}
header .logout {
    width: 120px;
    height: 40px;
    color: black;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 12px;
    font-size: 13px;
    margin: 11px;
}

header .logout a {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 12px;
    color: black;
}


header form {
    margin-top: 10px;
}

header input{
    width: 120px;
    height: 40px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 13px;
}

header ul {
    list-style-type: none;
    margin: 17px;
    padding: 0;
}

header form {
    display: inline-block;
    text-decoration: none;
    color: white; 
}

header .return input {
    font-size: 13px;
    width: 270px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;   
}

img {
    position: relative;
    left: 90px;
    
    width: 450px;
    height: 250px;
    border-radius: 40px;  
    cursor: grab; 
}

p {
    text-align: center; 
    font-size: 14px; 
    font-weight: bold; 
}

footer {
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    
    gap: 40px;
}

.reseaux-sociaux a {
    text-decoration: none;
    color: #130505; 
    margin: 20px;
}

.reseaux-sociaux a:hover {
    color: blue;
}
