<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>médicales</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <!-- navigation bar -->
    <header>   
        <img src="../static/images/logo.png" alt="">
        <ul>
            <form method="post">
                <input type="hidden" name="skipform" value="skipform">
                <input type="submit" value="Passer le formulaire">
            </form>
        </ul>
        <div class="logout">
            <a href="/">Se Déconnecter</a>
        </div>
    </header>
    <main>
        <!-- Main form -->
        <form method="post">
            {{message}} 
            <!-- Section for calculating BMI -->
            <section class="IMC">
                <h2>Section IMC</h2>
                <label for="taille">Taille (cm)</label>
                <input type="number" id="taille" name="height" required autofocus placeholder="Entrer votre taille" pattern="[0-9]" min="0">
                <label for="poids">Poids (kg)</label>
                <input type="number" id="poids" name="weight" required placeholder="Entrer votre poids" pattern="[0-9]" min="0">
            </section>

            <!-- Section for general medical data -->
            <section class="generale">
                <article class="BPM">
                    <h2>Section BPM</h2>
                    <label for="bpm">BPM</label>
                    <input type="number" id="bpm" name="bpm" required placeholder="Entrer votre battement par minutes" pattern="[0-9]" min="0">
                    <label for="oxygene">Taux d'oxygénation (%)</label>
                    <input type="number" id="oxygene" name="oxy_sat" required placeholder="Entrer votre taux d'oxygénation" pattern="[0-9]" min="0" max="100">
                </article>

                <!-- blood pressure section -->
                <article class="tension">
                    <h2>Section Tension</h2>
                    <label for="systolique">Pression artérielle systolique</label>
                    <input type="number" id="systolique" name="tas" required placeholder="Entrer votre pression artérielle systolique" pattern="[0-9]" min="0">
                    <label for="diastolique">Pression artérielle diastolique</label>
                    <input type="number" id="diastolique" name="tad" required placeholder="Entrer votre pression artérielle diastolique" pattern="[0-9]" min="0">
                </article>
            </section>
            <!-- Form submit button -->
            <input type="submit" value="Envoyer">
        </form>
    </main>
</body>
</html>
