<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration F</title>
    <link rel="stylesheet" href="../static/join-us.css">
</head>
<body>
    <main id="container_demo">
        <!-- Main registration form -->
            <article id="register" class="animate form">
                <form method="post">
                    <h1>Inscription</h1>
                    <p>
                        <label for="usernamesignup" class="uname" data-icon="u">Prénom</label>
                        <input id="namesignup" name="name" required="required" type="text" />
                    </p>

                    <p>
                        <label for="usernamesignup" class="uname" data-icon="u">Nom de famille</label>
                        <input id="lastnamesignup" name="lastname" required="required" type="text" />
                    </p>

                    <p>
                        <label for="date" class="uname" data-icon="u">Nom d'utilisateur</label>
                        <input id="usernamesignup" name="username" required="required" type="text" />
                    </p>

                    <p>
                        <label for="datesignup" class="uname" data-icon="u">Date de naissance</label>
                        <input id="datesignup" name="birthday" required="required" type="date" min="1000-01-01" max="9999-12-31"/>
                    </p>

                    <p>
                        <label for="sexignup" class="yoursexe" data-icon="e">Sexe</label>
                        <select name="sex" required>
                            <option value="M">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </p>

                    <p>
                        <label for="passwordsignup" class="youpasswd" data-icon="p">Mot de passe</label>
                        <input id="passwordsignup" name="password" required="required" type="password" />
                    </p>

                    <p>
                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Confirmer votre mot de passe</label>
                        <input id="passwordsignup_confirm" name="password_confirm" required="required" type="password" />
                    </p>
                    <p>{{message}}</p>
                    <p class="signin button">
                        <input type="submit" value="Sign up" name="signup" />
                    </p>

                    <p class="ink">
                        Déjà inscrit ?
                        <a href="/" class="to_register">Se connecter !</a>
                    </p>
                </form>
            </article>
      
    </main>
</body>
</html>