<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration F</title>
    <link rel="stylesheet" href="../static/join-us.css">
</head>
<body>
    <main id="container_demo">
        
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
            <article id="register" class="animate form">
                <form action="" autocomplete="on" method="post">
                    <h1>Sign up</h1>
                    <p>
                        <label for="usernamesignup" class="uname" data-icon="u">Name</label>
                        <input id="namesignup" name="name" required="required" type="text" placeholder="myname690" />
                    </p>

                    <p>
                        <label for="usernamesignup" class="uname" data-icon="u">Last name</label>
                        <input id="lastnamesignup" name="lastname" required="required" type="text" placeholder="mylastname690" />
                    </p>

                    <p>
                        <label for="date" class="uname" data-icon="u">Your username</label>
                        <input id="usernamesignup" name="username" required="required" type="text" placeholder="mysuperusername690" />
                    </p>

                    <p>
                        <label for="datesignup" class="uname" data-icon="u">Your date of birth</label>
                        <input id="datesignup" name="birthday" required="required" type="date" min="1000-01-01" max="9999-12-31"/>
                    </p>

                    <p>
                        <label for="sexignup" class="yoursexe" data-icon="e">Sexe</label>
                        <select name="sex" required>
                            <option value="M">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </p>

                    <p>
                        <label for="passwordsignup" class="youpasswd" data-icon="p">Your password</label>
                        <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </p>

                    <p>
                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password</label>
                        <input id="passwordsignup_confirm" name="password_confirm" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </p>
                    <p>{{message}}</p>
                    <p class="signin button">
                        <input type="submit" value="Sign up" name="signup" />
                    </p>

                    <p class="ink">
                        Already a member ?
                        <a href="/" class="to_register">Go and log in</a>
                    </p>
                </form>
            </article>
      
    </main>
</body>
</html>