<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration F</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <main>
            <article id="login" class="form">
                <form action="" autocomplete="on" method="post">
                    <h1>Log in</h1>
                    <p>
                        <label for="username" class="uname" data-icon="u">Your email or username</label>
                        <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com" />
                    </p>
                    <p>
                        <label for="password" class="youpasswd" data-icon="p">Your password</label>
                        <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </p>
                    <p class="keeplogin">
                        <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                        <label for="loginkeeping">Keep me logged in</label>
                    </p>
                    <p class="login button">
                        <input type="submit" value="Login" name="login" />
                    </p>
                    <p class="link">
                        Not a member yet ?
                        <a href="join-us.html" class="to_register">Join us</a>
                    </p>
                </form>
            </article>
    </main>
</body>
</html>