<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration F</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <!-- Main content of the page -->
    <main>
        <!-- Login form -->
        <article id="login" class="form">
            <form action="/" autocomplete="on" method="post">
                {{message}}
                <h1>Se connecter</h1>
                <!-- Input field for username -->
                <p>
                    <label for="username" class="uname" data-icon="u">Nom d'utilisateur</label>
                    <input id="username" name="username" required autofocus type="text"/>
                </p>
                <!-- Input field for password -->
                <p>
                    <label for="password" class="youpasswd" data-icon="p">Mot de passe</label>
                    <input id="password" name="password" required type="password" />
                </p>
                <!-- Form submission button -->
                <p class="login button">
                    <input type="submit" value="Login" name="login" />
                </p>
                <!-- Link to the signup page -->
                <p class="link">
                    Pas encore inscrit ?
                    <a href="/signup" class="to_register">Rejoins-nous !</a>
                </p>
            </form>
        </article>
    </main>
</body>
</html>