<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport</title>
    <link rel="stylesheet" href="../static/rapport.css">
</head>
<body>

    <header>
        <h1>Rapport Historique des Patients</h1>
    </header>



    <!-- <footer>
        <p>© 2024 Centre Médical</p>
    </footer> -->
    <footer>
        <div class="reseaux-sociaux">
            <a href="https://www.facebook.com/VotrePage" target="_blank">Facebook</a>
            <a href="https://twitter.com/VotreCompte" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/VotreCompte/" target="_blank">Instagram</a>
        </div>
    </footer>
    

</body>
</html>
