<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport</title>
    <link rel="stylesheet" href="../static/report.css">
</head>
<body>
    <header>
        <h1>Historique des Patients</h1>
        <a href="/">Se Déconnecter</a>  
    </header>
    <main>
        <h1>{{welcome}}</h1>
        {% if boolean == True %}
        <h2>{{message}}</h2>
        <form class="return" method="post">
            <input type="hidden" name="takeform" value="takeform">
            <input type="submit" value="si vous n'avez pas passé le test appuis ici">
        </form>
        {% endif %}
        <div class="image-container">
            <figure>
                <img src="{{bpmimage}}" alt="bpm graph">
                <p>{{bpmmessage}}</p>
            </figure>
            <figure>
                 <img src="{{imcimage}}" alt="imc graph">
                 <p>{{imcmessage}}</p>
            </figure>
            <figure>
                <img src="{{pressureimage}}" alt="pressure graph">
                <p>{{pressuremessage}}</p>
            </figure>
            <figure>
                <img src="{{oxysatimage}}" alt="oxygen saturation graph">
                <p>{{oxysatmessage}}</p>
            </figure>
        </div>
    </main>
    <footer>
        <div class="reseaux-sociaux">
            <a href="https://www.facebook.com/VotrePage" target="_blank">Facebook</a>
            <a href="https://twitter.com/VotreCompte" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/VotreCompte/" target="_blank">Instagram</a>
        </div>
    </footer>
</body>
</html>    
